@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    background: black;
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/
header{
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
}

header p {
    font-size: 50px;
    padding: 0 0 30px 0;
}

header a{
    color: aquamarine;
    font-size: 16px;
}

/*STOCK VIDEO*/
.stock-video{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

/*CAMP*/
.camp{
    width: 100%;
    height: fit-content;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.camp h3 {
    font-size: 42px;
    font-weight: 400;
}

.camp p {
    font-size: 21px;
    color: gray;
}

.image-holder{
    width: 68%;
    height: 550px;
    margin: 30px 0 0 0;
    background-image: url('../resources/images/camp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*COMING SOON*/
.coming-soon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 0 0;
}

.coming-soon p {
    color: white;
    font-size: 42px;
    padding: 10px 0 20px 0;
}

.coming-soon a {
    color: aquamarine;
}