@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    background: black;
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
}

header p {
    font-size: 50px;
    padding: 0 0 30px 0;
}

header a{
    color: aquamarine;
    font-size: 16px;
}